/**
 * CSS Emilio Devesa
 */

body {
    background-color: #f7f7f7;
    text-align: justify;
    font-family: 'Arimo', Calibri, Tahoma, sans-serif;
    max-width: 1000px;
    margin: 0 auto; /* esto centra la página horizontalmente */
}

.header {
    margin: 50px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #3B68BE;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url('/img/large01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header .menu {
    background-color: transparent;
    text-align: end;
}

.header .menu a:link, a:visited  {
    color: #f7f7f7;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.header .menu a:hover, a:active {
    color: white;
    text-decoration: underline;
}

.header .title {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: none;
}

.header .title a:link, a:visited  {
    color: #f7f7f7;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.header .title a:hover, a:active {
    color: white;
    text-decoration: none;
}

.header .subtitle {
    font-size: 18px;
}


.section {
    margin: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.highlight {
    color: #424242;
    font-size: 18px;
    text-align: center;
}

.text {
    color: #424242;
    font-size: 16px;
    text-align: center;
    font-style: normal;
}

.text a {
    color: #6567f9;
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}

.description {
    color: #424242;
    font-size: 16px;
    text-align: center;
    font-style: normal;
}

.description a {
    color: #6567f9;
    font-size: 11px;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}

table {
    border: 0px;
    text-align: center;
    table-layout: fixed;
    border-spacing: 10px;
    width: 100%;
}

th, td {
    vertical-align: top;
}

.footer {
    margin: 50px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #d2d2d2;
    color: #424242;
    font-size: 11px;
    text-align: center;
}

.footer a {
    color: #6567f9;
    font-size: 11px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}