/**
 * CSS Emilio Devesa
 */

body {
    background-color: #f7f7f7;
    text-align: justify;
    font-family: 'Arimo', Calibri, Tahoma, sans-serif;
    max-width: 1100px;
    margin: 0 auto; /* esto centra la página horizontalmente */
}

.top-section {
    margin: 50px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #3B68BE;
    color: white;
}

.top-section .menu {
    text-align: end;
}

.top-section .menu a:link, a:visited  {
    color: #f7f7f7;
    padding: 5px 15px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.top-section .menu a:hover, a:active {
    color: white;
    text-decoration: underline;
}

.top-section .title {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.top-section .subtitle {
    font-size: 18px;
}

div.section {
    margin: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
}

div.highlight {
    color: #424242;
    font-size: 18px;
    text-align: center;
}

.p {
    color: #424242;
    font-size: 16px;
    text-align: center;
    font-style: normal;
}

.p a {
    color: #6567f9;
    text-decoration: none;
}

.p a:hover {
    text-decoration: underline;
}

.description {
    color: #424242;
    font-size: 16px;
    text-align: center;
    font-style: normal;
}

.description a {
    color: #6567f9;
    font-size: 11px;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}


div.text {
    color: #424242;
    font-size: 16px;
    text-align: center;
}

table {
    border: 0px;
    text-align: center;
    table-layout: fixed;
    border-spacing: 10px;
    width: 100%;
}

.footer {
    margin: 50px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #d2d2d2;
    color: #424242;
    font-size: 11px;
    text-align: center;
}

.footer a {
    color: #6567f9;
    font-size: 11px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}

.required {
    color: red;
}