/**
 * CSS Emilio Devesa
 */

body {
    background-color: #f7f7f7;
    text-align: justify;
    font-family: 'Arimo', Calibri, Tahoma, sans-serif;
    max-width: 1000px;
    margin: 0 auto; /* esto centra la página horizontalmente */
}

.header {
    margin: 50px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #3B68BE;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)), url('/img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header .menu {
    background-color: transparent;
    text-align: end;
}

.header .menu a:link, a:visited  {
    color: #f7f7f7;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.header .menu a:hover, a:active {
    color: white;
    text-decoration: underline;
}

.header .title {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: none;
}

.header .title a:link, a:visited  {
    color: #f7f7f7;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.header .title a:hover, a:active {
    color: white;
    text-decoration: none;
}

.header .subtitle {
    font-size: 18px;
}


.section {
    margin: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.highlight {
    color: #424242;
    font-size: 18px;
    text-align: center;
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 800px) {
    table {
        width: 100%;
        text-align: center;
    }

    table img {
        width: 60%;
        height: auto;
    }

    table td {
        display: inline;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px; /* Ajusta el espacio entre las celdas */
    }
}

/* Estilos para pantallas más grandes */
@media only screen and (min-width: 801px) {
    table {
        width: 80%;
        margin: 0 auto; /* Centra la tabla en pantallas más grandes */
    }

    table td {
        width: 33.33%; /* Distribuye las celdas en tres columnas iguales */
        box-sizing: border-box;
    }
}


.text {
    color: #424242;
    font-size: 16px;
    text-align: center;
    font-style: normal;
}

.text a {
    color: #6567f9;
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}

.description {
    color: #424242;
    font-size: 16px;
    text-align: center;
    font-style: normal;
}

.description a {
    color: #6567f9;
    font-size: 11px;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}

table {
    border: 0px;
    text-align: center;
    table-layout: fixed;
    border-spacing: 10px;
    width: 100%;
    display: inline-block;
}

th, td {
    vertical-align: top;
}

.footer {
    margin: 50px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #d2d2d2;
    color: #424242;
    font-size: 11px;
    text-align: center;
}

.footer a {
    color: #6567f9;
    font-size: 11px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 384px;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
  
.image-container {
    position: relative;
    width: 96%;
    height: 96%;
}
  
.image-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
  
.gradient-top,
.gradient-bottom {
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    pointer-events: none;
}
  
.gradient-top {
    top: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}
  
.gradient-bottom {
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
}
  
.controls {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
}
  
.controls button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
  