---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
---

<PrimaryLayout title="404 No Encontrada">

    <section class="hero">
        <h3>P치gina no encontrada</h3>
        <p>Lo sentimos, la p치gina que est치s buscando no existe.</p>
        <p>Por favor, verifica la URL o vuelve a la <a href="/">p치gina principal</a>.</p>
    </section>
    
</PrimaryLayout>