<section id="music">
    <h2>游 Discograf칤a y colaboraciones</h2>
    <p><h3>Discograf칤a</h3>
        <table width="100%">
            <tr>
                <td><img src="/images/artwork/artwork05.png" width="250" alt="Euphoria, Carlos Campoy"></td>
                <td colspan="2">
                    <h4>"Euphoria", Carlos Campoy, RockCD Records 2021</h4>
                    <p>Carlos Campoy ha contado conmigo para tocar la bater칤a en todos los temas de su disco "Euphoria". La grabaci칩n del 치lbum se realiz칩 en RR Studios (Ferrol) y la postproducci칩n en Metromastering (A Coru침a). Adem치s participo en la gira espa침ola de conciertos "Euphoria Live Tour". El single "L칰a" fue seleccionado y emitido en el Yamaha Teacher's Forum Live 2023 en Jap칩n.</p>
                    <h5>
                        <a href="https://open.spotify.com/album/4uUvcv5ecb2S5blrco8eyY?si=wqVOIipfTSyKDdlUTjerZg">Spotify</a>
                        <a href="https://music.apple.com/es/album/euphoria/1568780017">Apple Music</a>
                        <a href="https://music.amazon.es/albums/B095L3NJ37">Amazon Music</a>
                    </h5>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h4>"R칤os de Albari침o", Tatilari, Independiente 2021</h4>
                    <p>He tenido el privilegio de tocar la bater칤a en esta canci칩n pop inspirada en la Fiesta del Albari침o de Cambados. Tambi칠n me encargu칠 de la grabaci칩n y mezcla de los dem치s instrumentos, as칤 como de la voz de Tatilari, una talentosa artista vasca con influencias gallegas. El mastering estuvo a cargo de Santi Quizhpe.</p>
                    <h5>
                        <a href="https://open.spotify.com/album/4edVmvN3aJlJTpJlsM7bW5?si=FFvwKs4iRWOIrWjh9gLB0w">Spotify</a>
                        <a href="https://music.apple.com/es/album/r%C3%ADos-de-albari%C3%B1o-single/1570274714">Apple Music</a>
                        <a href="https://music.amazon.es/albums/B096BMPS9S">Amazon Music</a>
                    </h5>
                </td>
                <td><img src="/images/artwork/artwork04.png" width="250" alt="R칤os de Albari침o, Tatilari"></td>
            </tr>
        </table>
    </p>

    <p><h3>Colaboraciones</h3>
        <table width="100%">
            <tr>
                <td><img src="/images/artwork/artwork03.png" width="200" alt="Monstros con ou sen consentimento, Chuches Amil"></td>
                <td><img src="/images/artwork/artwork02.png" width="200" alt="Un Conto ao Rev칠s, Chuches Amil"></td>
                <td><img src="/images/artwork/artwork01.png" width="200" alt="Esc치ndalo en Bohemia, Los Wattsons"></td>
            </tr>
            <tr>
                <td>
                    <i>Monstros con ou sen consentimento</i><br />
                    Chuches Amil, Galaxia 2018
                </td>
                <td>
                    <i>Un Conto ao Rev칠s</i><br />
                    Chuches Amil, Galaxia 2015
                </td>
                <td>
                    <i>Esc치ndalo en Bohemia</i><br />
                    Los Wattsons, Luscom치tica 2014
                </td>
            </tr>
            <tr>
                <td><h5>
                    <a href="https://open.spotify.com/album/4L9ND9Cb6CIIRZEXmis2yP?si=cq-6sOCaRGKZs5MD0KgiwQ">Spotify</a>
                    <a href="https://music.apple.com/es/album/monstros-con-ou-sen-consentimento/1405051787">Apple Music</a>
                    <a href="https://music.amazon.es/albums/B07N2HNS36">Amazon Music</a>
                </h5></td>
                <td><h5>
                    <a href="https://open.spotify.com/album/6rMZ09HzJ7Whpndq9gpqpj?si=bqI2K9MwTaKWW9Zh0coUkg">Spotify</a>
                    <a href="https://music.apple.com/es/album/un-conto-ao-rev%C3%A9s/1005680529">Apple Music</a>
                    <a href="https://music.amazon.es/albums/B01077K9J2">Amazon Music</a>
                </h5></td>
                <td><h5>
                    <a href="https://open.spotify.com/album/6Pa4oombvRPDngASi2NZp6?si=xAnQtIlxT6mM6Y_GPQZ0iw">Spotify</a>
                    <a href="https://music.apple.com/es/album/escandalo-en-bohemia/797595581">Apple Music</a>
                    <a href="https://music.amazon.es/albums/B00I0TNHT4">Amazon Music</a>
                </h5></td>
            </tr>
        </table>
    </p>
</section>